<div id="pin_show" class="position-enabled">
    <div class="card">
      <div class="box panel panel-default">
        <%= image_tag @pin.picture.url %>
          <div class="panel-body">
            <div class="card-block">
            <h1> <%= @pin.title %> </h1>
            <p> <%= @pin.description %> </p>
            <p> Submitted by: <%= @pin.user.email %> </p>

      <%= link_to "Back", root_path %>
      <%= link_to "Edit", edit_pin_path %>
      <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "You sure hombre?" } %>
    </div>
  </div>
</div>
